.blue {
    color: blue;
}

.red {
    color: red;
}

.green {
    color: green;
}

body {
	margin-top: 10px;
	margin-bottom: 10px;
	background: url("../image/background.jpg") no-repeat fixed center ; 
	

}

p.sl {
    line-height: 100%;
}
p.sls {
    line-height: 50%;
}


   ul.footer{
            margin-top:10px;
          }

         ul.footer p{
          color:#FFFFFF;
          }


       #footer{

        bottom: 0px;
        height: 80px;
        left: 10;
        position: absolute;
        right: 10;
        
       }


#maincontent{
background-color: white;
height: 80%;
width: 100%;
padding:10px; 


}



#maincontent1{
background-color: white;
height: 80vh;
width: 100%;
padding:10px; 


}


#page-selection{
background-color: white;
height: 80px;
width: 100%;
padding:10px; 


}
