@(canviForm: Form[CanviPassword])
@import play.i18n.Messages
@import helper._
@import helper.twitterBootstrap._

@main(Messages.get("canvi_password")) {
 <script type="text/javascript">
 $(document).ready(function() {
   $('#myModal').modal({
    show: true,
   })
 });
</script>

<!-- Modal -->
<div class="modal in" id="myModal" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center"><b>@Messages.get("canvi_password")</b></h4>
      @if(canviForm.hasGlobalErrors) {
    <p>
    </p>
    <p class="text-danger text-center">
        @Messages.get(canviForm.globalError.message)
    </p>
}
      </div>
    
      <div class="modal-body">
        @helper.form(action = routes.Usuaris.efectuarCanviPassword()) {
       <p>
       <input type="password" class="form-control" name="nou1" placeholder=@Messages.get("nou_password") >
   </p>
   <p>
       <input type="password" class="form-control" name="nou2" placeholder=@Messages.get("reintroduir_nou_password")>
   </p>
   <p>

      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">@Messages.get("cancel")</button>
    <input type="submit" class="btn btn-primary" value=@Messages.get("acceptar")>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

}
}