@(comunitatForm: Form[Comunitat], pare:models.Comunitat)
@import helper._
@import helper.twitterBootstrap._
@import play.i18n.Messages


@main("Formulari Comunitats") {
      <div id="maincontent">
  
  
  <h2 class="titol">@Messages.get("formulari_comunitats")</h2>
  @helper.form(action = routes.Comunitats.guardarComunitat(pare),'enctype -> "multipart/form-data") {
  <fieldset>
  @if(comunitatForm("nif").value==null){
  	@helper.inputText(comunitatForm("nif"), '_label -> Messages.get("nif"))
  } else {
  	@helper.inputText(comunitatForm("nif"), '_label -> Messages.get("nif"),   'readonly -> "readonly")
  }
  @helper.inputText(comunitatForm("nom"),'_label -> Messages.get("nom"))
  @helper.inputText(comunitatForm("adreca"),'_label -> Messages.get("adreca"))
  @helper.inputText(comunitatForm("cp"),'_label -> Messages.get("cp"))
  @helper.inputText(comunitatForm("poblacio"),'_label -> Messages.get("poblacio"))
  @helper.inputText(comunitatForm("coeficient"),'_label -> Messages.get("coeficient"))
  
  </fieldset>
  <input type="submit" class="btn btn-success" value=@Messages.get("Save")>
  <a class="btn btn-danger" href="@routes.Comunitats.llistarSubComunitats(pare,1)">@Messages.get("Cancel")</a>
    </div>
    
    }
    
    
}
