@(reunions:List[Reunio], page:Page, filtre:Form[ReunionsFiltre], comunitats:List[Comunitat], estats:List[EstatReunio]) @import play.i18n.Messages
@main(Messages.get("Reunions")) {

<div id="maincontent">

	<h2 class="titol">@Messages.get("reunions")</h2>


  @helper.form(action = routes.Reunions.llistarReunionsFiltrades(1),'enctype -> "multipart/form-data") {
  <fieldset>

 
<div class="input-group date">
  <input type="text" class="input" id="filtre_fecha1" name="filtre_fecha1" required value=@filtre("fechaIni").value >
      <span class="add-on"> <i class="glyphicon glyphicon-th blue"></i></span>
 
  <input type="text" class="input" id="filtre_fecha1" name="filtre_fecha1" required value=@filtre("fechaFi").value >
      <span class="add-on"> <i class="glyphicon glyphicon-th blue"></i></span>
 </div>
 
 <strong>@Messages.get("comunitat")</strong>
<br>
	<p class="sls"></p>

  <select class="selectpicker" id="comunitat"  name="comunitat"  >
       <option></option>

    @for( comunitat <- comunitats) {
 <option value=@comunitat.nif @if(filtre("comunitat").value()==comunitat.nif){selected}>@comunitat.nif - @comunitat.pare.nom @comunitat.nom</option>
      }
  </select>
  <br>
	<p class="sl"></p>
	
	
  <select class="selectpicker" id="estat" name="estat">
       <option></option>
      
    @for( estat <- estats) {

 <option type="text"value=@estat.estat @if( filtre("estat").value()==estat.estat){selected} >@Messages.get(estat.estat)</option>
    }
    </select>

 </fieldset>
  <br>
  	<p class="sls"></p>
  
  <input type="submit" class="btn btn-success" value=@Messages.get("filtre")>
  
  }
	<table class="table table-striped">
		<thead>
			<tr>
							<th>@Messages.get("codi")</th>
							<th>@Messages.get("comunitat")</th>
				<th class="text-center">@Messages.get("data")</th>
				<th>@Messages.get("hora")</th>
				<th>@Messages.get("descripcio")</th>
				<th>@Messages.get("lloc")</th>
				<th>@Messages.get("estat")</th>
				<th class="text-center">@Messages.get("notificada")</th>
				<th class="text-center">@Messages.get("opcions")</th>

				<th></th>
			</tr>
		</thead>
		<tbody>

			@for( reunio <- reunions) {

			<tr>
							<td>@reunio.codi</td>
							<td>@if(reunio.comunitat.pare!="ARREL") {@reunio.comunitat.pare.nom }@reunio.comunitat.nom</td>
				<td class="text-center">@reunio.fecha.format("dd/MM/yyyy")</td>
				<td>@reunio.hora</td>
				<td>@reunio.descripcio</td>
				<td>@reunio.lloc</td>
				<td>@Messages.get(reunio.estat.descripcio)</td>
				<td class="text-center">@if(reunio.notificada) {Si}else{No}</td>
				<td class="text-center">
				        <a href="@routes.Reunions.detallReunio(reunio)"><i class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="@Messages.get("editar_comunitat")"></i>&nbsp </a> 
        <a onclick="javascript:del('@routes.Reunions.borrarReunio(reunio)')"><i class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="@Messages.get("eliminar_comunitat")"></i>&nbsp</a> 
        <a href="@routes.Reunions.llistarDocuments(reunio)"><i class="glyphicon glyphicon-file" data-toggle="tooltip" data-placement="top" title="@Messages.get("editar_comunitat")"></i>&nbsp </a> 
        <a href="@routes.Reunions.notificarReunio(reunio)"><i class="glyphicon glyphicon-envelope" data-toggle="tooltip" data-placement="top" title="@Messages.get("editar_comunitat")"></i>&nbsp </a> 
        

					</td>
			</tr>
			}
		</tbody>

	</table>

	<a class="btn btn-primary" href="@routes.Reunions.novaReunio()"><span
		class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		@Messages.get("registre")</a> <br> &nbsp <br>




</div>

}
