@(elements:List[Element], page:Page, comunitat:models.Comunitat)
@import play.i18n.Messages
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@main(Messages.get("elements")) {

 <div id="maincontent" >
<h2 class="titol">@Messages.get("elements") @comunitat.nom</h2>





   <table class="table table-striped">
    <thead>
      <tr>
      	<th>@Messages.get("codi")</th>
        <th>@Messages.get("descripcio")</th>
        <th class="text-right">@Messages.get("coeficient")</th>
        @restrict(la(as("A"))){ <th  class="text-center">@Messages.get("opcions")</th>}
      </tr>
    </thead>
    <tbody>
    @if(page!=null){
    
    @for( element <- elements) {

      <tr>
        <td>@element.codi</td>
        <td>@element.descripcio</td>
        <td  class="text-right">@element.coeficient</td>
        <td  class="text-center">
                     <a href="@routes.Comunitats.llistarUsuarisAssignats(element)"><i class="glyphicon glyphicon-user" data-toggle="tooltip" data-placement="top" title="@Messages.get("consultar_veins")"></i>&nbsp</a>
    
       @restrict(la(as("A"))){  <a href="@routes.Comunitats.detallElement(element)"><i class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="@Messages.get("editar_element")"></i>&nbsp</a>}
       @restrict(la(as("A"))){  <a onclick="javascript:del('@routes.Comunitats.borrarElement(element)')"><i class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="@Messages.get("eliminar_element")"></i>&nbsp</a>} 
       </td>
     </tr>
      }
      }
    </tbody>
          
   </table>
   @restrict(la(as("A"))){  <a class="btn btn-primary" href="@routes.Comunitats.nouElement(comunitat)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Messages.get("registre")</a>}
  
   
  }
   
   
 
