@(comunitats:List[Comunitat], page:Page, id:String)
@import play.i18n.Messages
@main(Messages.get("Comunitats")) {

 <div>
    <div>
<h2>@Messages.get("Comunitats")</h2>

   <table class="table table-striped">
    <thead>
      <tr>
        <th>@Messages.get("nif")</th>
        <th>@Messages.get("nom")</th>
        <th>@Messages.get("adreca")</th>
        <th>@Messages.get("cp")</th>
        <th>@Messages.get("poblacio")</th>
        <th>@Messages.get("coeficient")</th>
        <th>@Messages.get("opcions")</th>
        
        <th></th>
      </tr>
    </thead>
    <tbody>
    
    @for( comunitat <- comunitats) {

      <tr>
        <td>@comunitat.nif</td>
        <td>@comunitat.nom</td>
        <td>@comunitat.adreca</td>
        <td>@comunitat.cp</td>
        <td>@comunitat.poblacio</td>
        <td>@comunitat.coeficient</td>
       
        <td>
        	<a href=""><i class="glyphicon glyphicon-search"></i>&nbsp</a> 
         	<a href=""><i class="glyphicon glyphicon-pencil"></i>&nbsp </a> 
         	<a onclick=""><i class="glyphicon glyphicon-trash"></i>&nbsp</a> 
         	<a href=""><i class="glyphicon glyphicon-tower"></i>&nbsp</a> 
         	<a href=""><i class="glyphicon glyphicon-earphone"></i>&nbsp</a> 
         	
        </td>
           
         

 
      </tr>
      
      }
  
    </tbody>
    
   </table>
  
}
