@(elements:List[Element],  usuari:Usuari, page:Page)
@import play.i18n.Messages
@main(Messages.get("elements")) {

 <div id="maincontent" >
<h2 class="titol">@Messages.get("elements_assignats") @usuari.nom @usuari.cognoms  </h2>





   <table class="table table-striped">
    <thead>
      <tr>
            <th>@Messages.get("nif")</th>
           <th>@Messages.get("comunitat_pare")</th>
      <th>@Messages.get("comunitat")</th>
     	<th>@Messages.get("codi")</th>
        <th>@Messages.get("descripcio")</th>
        <th class="text-right">@Messages.get("coeficient")</th>
        <th  class="text-center">@Messages.get("opcions")</th>
      </tr>
    </thead>
    <tbody>
    
    @for( element <- elements) {

      <tr>
              <td>@element.comunitat.nif</td>
              <td>@element.comunitat.pare.nom</td>
        <td>@element.comunitat.nom</td>
        <td>@element.codi</td>
           <td>@element.descripcio</td>
        <td  class="text-right">@element.coeficient</td>
        <td  class="text-center">
         <a onclick="javascript:del('@routes.Usuaris.borrarElementAssignat(usuari,element)')"><i class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="@Messages.get("eliminar_comunitat")"></i>&nbsp</a> 
                </td>
     </tr>
      }
    </tbody>
          
   </table>
  
   
  }
   
   
   <a class="btn btn-primary" href="@routes.Usuaris.assignarElements(usuari)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Messages.get("registre")</a>
 
