@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@(documents:List[Document], page:Page, reunio:Reunio, host:String) @import play.i18n.Messages
@main(Messages.get("Documents")) {

<div id="maincontent">

	<h2 class="titol">@Messages.get("documents")</h2>

	<table class="table table-striped">
		<thead>
			<tr>
							<th>@Messages.get("descripcio")</th>
			

				<th></th>
			</tr>
		</thead>
		<tbody>
@if(page!=null){

			@for( document <- documents) {

			<tr>
							<td>@document.descripcio</td>
				<td class="text-center">
           @restrict(la(as("P"),as("A"))) {
				        <a href="@routes.Reunions.detallDocument(document)"><i class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="@Messages.get("editar_comunitat")"></i>&nbsp </a> 
        <a onclick="javascript:del('@routes.Reunions.borrarDocument(document)')"><i class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="@Messages.get("eliminar_comunitat")"></i>&nbsp</a>} 
          <a onclick="javascript:pdf('@document.codi')"><i class="glyphicon glyphicon-eye-open"></i></a> 

					</td>
			</tr>
	}
			}
		</tbody>

	</table>
<div id="page-selection" text-align="left">
   </div>
     &nbsp&nbsp<a class="btn btn-info" href="@routes.Reunions.llistarReunionsFiltrades(1)"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span> @Messages.get("back")</a>
   
           @restrict(la(as("P"),as("A"))) {

	 &nbsp&nbsp<a class="btn btn-primary" href="@routes.Reunions.nouDocument(reunio)"><span
		class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		@Messages.get("registre")</a> <br> &nbsp <br>
}



 <script>
        // init bootpag
        $('#page-selection').bootpag({
            total: @page.totalPages,
            	href: "?@reunio.codi&page={{number}}"

        	
        }).on("page", function(event, /* page number here */ num){
        });
    </script>

<script>
        	function pdf(codi) {
        		alert("http:/@host/assets/javascripts/web/viewer.html");
        		var fin="http:/"+@host+"/assets/javascripts/web/viewer.html";
        	    window.open(fin);
        		
        		
        	}
        </script>
        
</div>

}
