@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@(reunions:List[Reunio], page:Page, filtre:Form[ReunionsFiltre], comunitats:List[Comunitat], estats:List[EstatReunio])
@import play.i18n.Messages
@main(Messages.get("Reunions")) {

<div id="maincontent">

	<h2 class="titol">@Messages.get("reunions")</h2>

  @helper.form(action = routes.Reunions.llistarReunionsFiltrades(1),'enctype -> "multipart/form-data") {
  <fieldset>
  
  <table class="filtre">
    <thead>
      <tr>
        <th></th>
        <th>Comunidad</th>
        <th>Estado</th>
        <th></th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td align="right">
        <div class="input-group date"  >
  			<strong>@Messages.get("desde") </strong>  <input type="text" class="input" id="filtre_fecha1" name="fechaIni" required value=@filtre("fechaIni").value >
  		    <span class="add-on"> <i class="glyphicon glyphicon-th blue"></i></span>
 		</div>
        </td>
        <td>
		 			<p class="sl"></p>
		 
		  <select class="selectpicker" id="comunitat"  name="comunitat"  >
	  	<option value="">@Messages.get("seleccioni_comunitat")</option>
		
		    @for( comunitat <- comunitats) {
		 <option value=@comunitat.nif @if(filtre("comunitat").value()==comunitat.nif){selected}>@comunitat.nif - @comunitat.pare.nom @comunitat.nom</option>
		      }
		  </select>
		  <br>
			<p class="sl"></p>
			       
        </td>
        <td>
        
		  <select class="selectpicker" id="estat" name="estat">
	  	<option value="">@Messages.get("seleccioni_estat")</option>
		      
		    @for( estat <- estats) {
		
		 <option type="text"value=@estat.estat @if( filtre("estat").value()==estat.estat){selected} >@Messages.get(estat.estat)</option>
		    }
		    </select>
        </td>
        <td>
          <button type="submit" class="btn btn-success" value=@Messages.get("filtre")><span
		class="glyphicon glyphicon-filter" aria-hidden="true"></span>

        </td>
      </tr>
      <tr>
        <td align="right">
        	<div class="input-group date" >  
  			<strong>@Messages.get("fins") </strong> <input type="text" class="input" id="filtre_fecha2" name="fechaFi" required value=@filtre("fechaFi").value >
      		<span class="add-on"> <i class="glyphicon glyphicon-th blue"></i></span>
 			</div>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
 
 
	

 </fieldset>
  <br>
  	<p class="sls"></p>
  
  
  }
	<table class="table table-striped">
		<thead>
			<tr>
							<th>@Messages.get("comunitat")</th>
				<th class="text-center">@Messages.get("data")</th>
				<th>@Messages.get("hora")</th>
				<th>@Messages.get("descripcio")</th>
				<th>@Messages.get("lloc")</th>
				<th>@Messages.get("estat")</th>
				<th class="text-center">@Messages.get("notificada")</th>
				<th class="text-center">@Messages.get("opcions")</th>

				<th></th>
			</tr>
		</thead>
@if(page!=null){
		<tbody>
			@for( reunio <- reunions) {

			<tr>
							<td>@if(reunio.comunitat.pare!="ARREL") {@reunio.comunitat.pare.nom }@reunio.comunitat.nom</td>
				<td class="text-center">@reunio.fecha.format("dd/MM/yyyy")</td>
				<td>@reunio.hora</td>
				<td>@reunio.descripcio</td>
				<td>@reunio.lloc</td>
				<td>@Messages.get(reunio.estat.descripcio)</td>
				<td class="text-center">@if(reunio.notificada) {Si}else{No}</td>
				<td class="text-center">
		     @restrict(la(as("P"),as("A"))) {
				        <a href="@routes.Reunions.detallReunio(reunio)"><i class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="@Messages.get("editar_reunio")"></i>&nbsp </a>} 
             @restrict(la(as("A"),as("P"))) {
        <a onclick="javascript:del('@routes.Reunions.borrarReunio(reunio)')"><i class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="@Messages.get("eliminar_reunio")"></i>&nbsp</a>}
             @restrict(la(as("O"),as("A"))) { 
        <a href="@routes.Reunions.llistarDocuments(reunio)"><i class="glyphicon glyphicon-file" data-toggle="tooltip" data-placement="top" title="@Messages.get("detall_doc")"></i>&nbsp </a>} 
             @restrict(la(as("A"),as("P"))) {
        <a href="@routes.Reunions.notificarReunio(reunio)"><i class="glyphicon glyphicon-envelope" data-toggle="tooltip" data-placement="top" title="@Messages.get("notificar_reunio")"></i>&nbsp </a>} 
        

					</td>
			</tr>
			}
		</tbody>
}
	</table>
<div id="page-selection" text-align="left">
   </div>
             @restrict(la(as("A"),as("P"))) {
  &nbsp&nbsp<a class="btn btn-primary" href="@routes.Reunions.novaReunio()"><span
		class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		@Messages.get("registre")</a> <br> &nbsp <br>
}



</div>
<script>
        // init bootpag
        $('#page-selection').bootpag({
            total: @page.totalPages,
            
            	href: "?fechaIni=@filtre("fechaIni").value&fechaFi=@filtre("fechaFi").value&estat=@filtre("estat").value&comunitat=@filtre("comunitat").value&page={{number}}"
        	
        }).on("page", function(event, /* page number here */ num){
        });
    </script>
}
