@(comunitats:List[Comunitat], page:Page, pare:models.Comunitat)
@import play.i18n.Messages
@main(Messages.get("Comunitats")) {

 <div id="maincontent" >
<h2 class="titol">@Messages.get("comunitats")</h2>





   <table class="table table-striped">
    <thead>
      <tr>
      	<th>@Messages.get("nif")</th>
        <th>@Messages.get("nom")</th>
        <th>@Messages.get("adreca")</th>
        <th class="text-center">@Messages.get("cp")</th>
        <th>@Messages.get("poblacio")</th>
        <th class="text-right">@Messages.get("coeficient")</th>
        <th  class="text-center">@Messages.get("opcions")</th>
        
        <th></th>
      </tr>
    </thead>
    <tbody>
    
    @for( comunitat <- comunitats) {

      <tr>
        <td>@comunitat.nif</td>
        <td>@comunitat.nom</td>
        <td>@comunitat.adreca</td>
        <td class="text-center">@comunitat.cp</td>
        <td>@comunitat.poblacio</td>
        <td  class="text-right">@comunitat.coeficient</td>
        <td  class="text-center">
        <a href="@routes.Comunitats.llistarSubComunitats(comunitat,1)"><i class="glyphicon glyphicon-search" data-toggle="tooltip" data-placement="top" title="@Messages.get("veure_detall_comunitats")"></i>&nbsp</a>
        <a href="@routes.Comunitats.detallComunitat(comunitat)"><i class="glyphicon glyphicon-pencil" data-toggle="tooltip" data-placement="top" title="@Messages.get("editar_comunitat")"></i>&nbsp </a> 
        <a onclick="javascript:del('@routes.Comunitats.borrarComunitat(comunitat)')"><i class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="@Messages.get("eliminar_comunitat")"></i>&nbsp</a> 
        <a href="@routes.Comunitats.llistarElements(comunitat)"><i class="glyphicon glyphicon-tower" data-toggle="tooltip" data-placement="top" title="@Messages.get("veure_elements_comunitat")"></i>&nbsp</a> 
        <a href=""><i class="glyphicon glyphicon-earphone" data-toggle="tooltip" data-placement="top" title="@Messages.get("veure_contactes_comunitat")"></i>&nbsp</a> 
        </td>
     </tr>
      }
    </tbody>
          
   </table>
  
   @if((comunitats.isEmpty && pare.nif=="arrel" )|| (pare.nif!="arrel")){
  <a class="btn btn-primary" href="@routes.Comunitats.novaComunitat(pare)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Messages.get("registre")</a>
  }
  <br>
  &nbsp
  <br>
  <!--  	@if(pare.pare!=null){
     <a class="btn btn-primary" href="@routes.Comunitats.llistarSubComunitats(pare.pare)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>@Messages.get("back")</a>
  -->
  }
   
   
    </div>
 
 
 <script>
        // init bootpag
        $('#page-selection').bootpag({
            total: @page.totalPages,
            @if(pare!=null) {
            	href: "?pare=@pare.nif&page={{number}}"
            } else{
            	href: "?pare=null&page={{number}}"

            }
        	
        }).on("page", function(event, /* page number here */ num){
        });
    </script>
 
}
