@(movimentForm: Form[MovimentNota], nota:Nota)
@import play.i18n.Messages
@import helper._
@import helper.twitterBootstrap._

@main(Messages.get("registre_usuari")) {
 <script type="text/javascript">
 $(document).ready(function() {
   $('#myModal').modal({
    show: true,
   })
 });
</script>

<!-- Modal -->
<div class="modal in" id="myModal" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      @if(movimentForm.hasGlobalErrors) {
    <p>
    </p>
    <p class="text-danger text-center">
        @Messages.get(movimentForm.globalError.message)
    </p>
}
      </div>
    
      <div class="modal-body">
     <strong>Desea informar el detalle de la nota?</strong>
     <br>
     <br>
      <div class="modal-footer" align="center">
      <a class="btn btn-default" type="button" href="@routes.Notes.llistarNotes(1)">Info (Light Blue) Button</a>
      
        <button type="button" href="http://example.com" class="btn btn-default">@Messages.get("No")</button>
    <input type="submit" class="btn btn-primary" value=@Messages.get("Si")>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


}